* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.nav-wrapper {
  height: 90px;
  width: 100%;
  position: fixed;
}

.nav-wrapper nav {
  max-width: 1280px;
  height: 90px;
  margin: 0 auto;
  border-bottom: solid 3px #FC5000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-wrapper nav .links {
  width: 9000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  -webkit-box-pack: justify;
          justify-content: space-between;
  font-size: 16px;
}

.home {
  text-decoration: none;
  color: #00879E;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.gallery {
  text-decoration: none;
  color: #00879E;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.events {
  text-decoration: none;
  color: #FC5000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.contact {
  text-decoration: none;
  color: #00879E;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.about {
  color: #00879E;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@media only all and (max-width: 980px) {
  .nav-wrapper nav {
    padding: 0 30px;
  }
}
@media only all and (max-width: 800px) {
  .nav-wrapper nav {
    padding: 0 10px;
  }
}
.space {
  height: 200px;
}

.abUs {
  font-size: 32px;
  border-bottom: solid 3px black;
  max-width: 300px;
  margin-bottom: 50px;
  margin-left: 141px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.hero {
  max-width: 81%;
  height: 70%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 135, 158, 0.5)), to(rgba(0, 135, 158, 0.5))), url(../images/bloghero.jpg);
  background-image: linear-gradient(to bottom, rgba(0, 135, 158, 0.5), rgba(0, 135, 158, 0.5)), url(../images/bloghero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 600px;
  margin: 0 auto;
  position: relative;
}

.upcoming-events {
  background-color: #ffffff;
  height: 640px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 40px;
  position: relative;
}
.upcoming-events .ageofart {
  float: left;
  padding-right: 500px;
}
.upcoming-events a {
  text-decoration: none;
}
.upcoming-events .express {
  margin-left: 330px;
}
.upcoming-events .events {
  height: 124px;
  margin-top: -350px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 8%;
  position: relative;
}
.upcoming-events .events .event {
  width: 210px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.upcoming-events .events .event .date {
  margin: auto;
  width: 100px;
  height: 100px;
  color: black;
  background-color: #FC5000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  position: relative;
  padding-top: 30px;
  font-weight: bold;
}
.upcoming-events .events .event .event-detail {
  width: 350px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  padding-left: 60px;
  padding-bottom: 90px;
}
.upcoming-events .events .event .highlight {
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.upcoming-events .events .event .details {
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 13px;
  width: 220px;
}

footer {
  max-width: 980px;
  height: 150px;
  margin: 0 auto;
}

.wrapper {
  max-width: 980px;
  min-height: 200px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
  margin-top: 20px;
}

.foot-wrapper {
  height: 465px;
  width: 100%;
  background-color: #00879E;
}

.foot-wrapper footer {
  height: 455px;
  background-color: #00879E;
}

.foot-wrapper footer .bop {
  height: 50px;
}

.foot-wrapper footer .phone {
  color: #ffffff;
  text-align: center;
  padding-top: 50px;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.foot-wrapper footer .signup {
  position: relative;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: auto;
}

.foot-wrapper footer .signup input {
  width: 929px;
  height: 35px;
  background-color: #97C6CE;
  border: none;
  font-size: 16px;
  margin: auto;
  margin-left: 200px;
}

.foot-wrapper footer .signup .button {
  width: 167px;
  height: 35px;
  background-color: #ffffff;
  padding-top: 10px;
  color: black;
  margin: auto;
  padding-bottom: 24px;
  margin-right: 67px;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.facebook {
  content: url(../images/facebook_w.png);
  height: 50px;
  float: left;
  padding-left: 350px;
}

.instagram {
  content: url(../images/instagram_w.png);
  height: 50px;
  padding-left: 100px;
  float: left;
}

.twitter {
  content: url(../images/twitter_w.png);
  height: 50px;
  padding-left: 100px;
  margin-top: 50px;
}

@media only all and (max-width: 980px) {
  .foot-wrapper footer {
    padding: 0 30px;
  }
}
@media (max-width: 944px) {
  .media {
    display: block;
  }
  .media div {
    margin: 0 auto 20px auto;
    height: 50px;
  }
}